<html>
<head>
    <title>Users</title>
    <#include "../partials/head.ftlh">
</head>
<body>


<#assign page_title = "Users & Posts">
<#include "../partials/nav_bar.ftlh"/>
    <div class="main-content">
        <h3 class="mb-3">Users</h3>
        <div class="table-responsive">

            <#include "../partials/users_table.ftlh" />
        </div>
    </div>
<#include "../partials/scripts.ftlh">
</body>
</html>