/*General Rules -> Start*/
    /*Variables --> Start*/
    :root {
        --accent-color: #cff3ff;
        --main-bg-color: #f8f8f8;
        --lightgrey: lightgrey;

        --default-transition: 0.3s linear;
    }
    .bg-primary {
        background-color: #3f51b5 !important;
    }
    /*Variables -> End*/


body {
    background: var(--main-bg-color) !important;
}
/*Nav Bar */
.navbar {
    padding: 0.8rem 1rem;
}
.navbar-header{
    font-size: 20px;
    font-weight: 400;
    color: white;
}

/*Main Content*/
.main-content {
    padding: 30px;
}

.table-responsive {
    background: white !important;
}
th {
    color: #494949;
}
tr {
    transition: var(--default-transition);
}
tbody tr:nth-child(n+1):hover {
    background: var(--accent-color) !important;
}
.main-content .table-responsive .table-striped tbody tr:nth-of-type(odd) {
    background-color: initial;
}
.table th, .table td{
    padding: 1rem !important;
}
/*General Rules -> End*/

/*Users' Posts -> Start*/
.user-div {
    display: grid;
    border-bottom: 1px solid;
    border-color: var(--lightgrey)
}
.user-pic {
    float: left;
    padding: 14px;
}
.user-pic img {
    width: 60px;
    border-radius: 30px;
}
.user-details {
    display: inline-block;
    height: 100%;
    padding-top: 16px;
}
.posts-div {
    padding: 20px;
}
.post-holder {
    padding: 10px 20px 0 20px;
    border-bottom: 1px solid;
    border-color: var(--lightgrey)
}
.post-holder:last-child {
    border: 0;
}
/*Users' Posts -> End*/